.box {
    height: 100vh;
    width: 100%;
    background-color: rgb(223, 189, 148);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 300px;
    height: 200px;
    background-color: darkorchid;
        
}